@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(233, 233, 233);
}

ul {
  list-style: none;
}

a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ecae02;
  content: "";
  transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}

a {
  text-decoration: none;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.navbar {
  padding-top: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
}

.nav-links li a {
  color: #555;
  padding: 0 1.1rem;
}

.nav-links li a:hover {
  color: #000;
  font-weight: bold;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
}

.hamburger-menu i {
  color: #5A98F2;
}

.sidebar {
  display: none;
  position: fixed;
  top: -1rem;
  left: 0;
  height: 100%;
  width: 15rem;
  background-color: #5A98F2;
  z-index: 1;
}

.sidebar i {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.sidebar li a {
  color: #fff;
  line-height: 7;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 1rem 0 0.5rem;
}

#showcase {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-text {
  width: 40vw;
}

.showcase-text h1 {
  font-size: 3rem;
  width: 90%;
}

.intro-info {
  width: 80%;
  opacity: 0.9;
  line-height: 1.5;
  font-family: "Poiret One", sans-serif;
  font-size: 1.3em;
  font-weight: 900;
}

.showcase-btn {
  margin-top: 1rem;
  height: 50px;
  border: none;
  box-shadow: 0px 0px 4px 2px #ecae02;
  background-color: #6588b9;
  color: #fff;
  border-radius: 20px;
  padding: 0.8rem 2rem;
  font-weight: 700;
  outline: none;
  font-family: "Montserrat Alternates", sans-serif;
  cursor: pointer;
}

.showcase-btn:hover {
  opacity: 0.9;
}

.showcase-img {
  flex: 4;
}

.showcase-img img {
  width: 90%;
}

#services {
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}

.service-header {
  text-align: center;
  padding: 0 10rem;
}

.service-header h1 {
  font-size: 2.1rem;
  word-spacing: 4px;
}

hr {
  width: 4rem;
  height: 3px;
  font-weight: bold;
  background-color: #000;
}

.service-header p {
  opacity: 0.7;
  line-height: 1.5;
}

#services .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
}

#services .cards h1 {
  text-align: center;
}

#services .cards {
  margin-top: 6rem;
}

#services .cards .card {
  padding: 3rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#services .cards .card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  overflow: hidden;
  transition: 0.3s ease all;
}

#services .cards .card h3 {
  font-size: 1.3rem;
}

#services .cards .card p {
  opacity: 0.6;
}

.service-btn {
  margin: 3rem 0;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #6588b9;
  border-radius: 20px;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  outline: none;
  color: #6588b9;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.service-btn:hover {
  background-color: #6588b9;
  color: #fff;
  transition: all 0.3s ease;
}

#apps {
  height: 100vh;
}

.app-1 {
  margin: 45rem 0 15rem 0;
  height: 50vh;
  display: flex;
  align-items: center;
}

.app-1-left {
  flex: 4;
}

.app-1-left img {
  width: 100%;
}

.app-1-right {
  flex: 3;
  padding-left: 6rem;
}

.app-2 {
  height: 50vh;
  display: flex;
  align-items: center;
}

.app-2-left {
  flex: 3;
  padding-right: 6rem;
}

.app-2-right img {
  width: 100%;
}

.app-btn {
  margin: 3rem 0;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #458FF6;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  color: #458FF6;
  font-weight: bold;
}

.app-btn:hover {
  background-color: #458FF6;
  color: #fff;
  transition: all 0.3s ease;
}

#testimonials {
  margin-top: 60px;
  height: 70vh;
}

.testimonial {
  width: 1100px;
  text-align: center;
  max-width: 1100px;
  margin: auto;
  background: linear-gradient(to left, #67C3F3, #5A98F2);
  color: #fff;
  padding: 3rem 2rem;
  border-radius: 20px;
}

.testimonial hr {
  width: 4rem;
  height: 3px;
  font-weight: bold;
  background-color: #fff;
}

.testimonial h2 {
  font-size: 2rem;
  word-spacing: 3px;
}

.testimonial-person {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.person {
  display: flex;
  flex: 1;
}

.person-text p {
  opacity: 0.7;
  text-align: left;
}

.person img {
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 2rem;
}

.testimonial-text {
  flex: 1;
  line-height: 1.5;
}

.testimonial-text p {
  opacity: 0.9;
  font-size: 1.05;
}

#article {
  text-align: center;
  height: 100vh;
}

#article h1 {
  font-size: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-text {
  padding: 0 3rem 1rem 3rem;
  text-align: left;
}

.card-text button {
  background-color: transparent;
  border: none;
  color: #5A98F2;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
}

.card-text i {
  margin-left: 5px;
}

.card-text h1 {
  line-height: 1.5;
}

.card-text p {
  line-height: 1.5;
  opacity: 0.7;
}

.article-btn {
  color: #458FF6;
}

#article .articleBtn {
  border: none;
  background-color: #6588b9;
  border: 1px solid #6588b9;
  color: #fff;
  border-radius: 20px;
  padding: 0.8rem 3rem;
  margin-top: 3rem;
  outline: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

#article .articleBtn:hover {
  background-color: #6588b9;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

footer hr {
  width: 100%;
  height: 0px;
  border: 1px solid #d0d0d0;
}

.footer-social {
  display: flex;
  width: 25%;
  align-items: flex-end;
}

.foot-socials {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-left: 0;
}

.footer-rights {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.footer-nav {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.foot-nav--list {
  display: flex;
  flex-direction: column;
}

.foot-nav--list li a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 900px) {
  .app-1 {
    margin: 40rem 0 15rem 0;
  }
}
@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: inline-block;
  }
  #showcase {
    margin-top: 10rem;
    flex-direction: column;
    margin-right: 0rem;
  }
  .showcase-text {
    text-align: center;
    margin-right: 0rem;
    order: 2;
    padding: 0 2rem;
  }
  #showcase {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showcase-text h1 {
    font-size: 3rem;
    width: 100%;
  }
  .showcase-text p {
    width: 100%;
    opacity: 0.9;
    line-height: 1.5;
  }
  .showcase-btn:hover {
    opacity: 0.9;
  }
  .showcase-img {
    flex: 4;
    text-align: center;
  }
  .showcase-img img {
    width: 80%;
  }
  #services {
    height: 100vh;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 25rem;
  }
  .service-header {
    padding: 0 2rem;
  }
  #services .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
  }
  .service-btn {
    margin: 3rem 0;
    padding: 0.8rem 3rem;
    border: 0.1rem solid #458FF6;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    color: #458FF6;
    font-weight: bold;
  }
  .service-btn:hover {
    background-color: #458FF6;
    color: #fff;
    transition: all 0.3s ease;
  }
  #apps {
    height: 100vh;
  }
  .app-1 {
    margin: 60rem 0 15rem 0;
    height: 50vh;
    display: flex;
    align-items: center;
  }
  #testimonials {
    margin-top: 15rem;
    height: 80vh;
  }
  .testimonial {
    width: 100%;
  }
  .testimonial-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  #article h1 {
    margin-top: 5rem;
    font-size: 2rem;
  }
  #article .cards {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: 20%;
  }
  #article .card {
    width: 60%;
    text-align: center;
    align-items: center;
  }
  #article .card-img img {
    width: 100%;
  }
  #article .card-text {
    padding: 0 3rem 1rem 3rem;
    text-align: left;
  }
  #article .card-text button {
    background-color: transparent;
    border: none;
    color: #5A98F2;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 600px) {
  .app-1 {
    margin: 80rem 0 15rem 0;
  }
}/*# sourceMappingURL=style.css.map */